---
layout: default
---

{%- if page.title -%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{%- if site.posts.size > 0 -%}
<ul class="posts">
    <li>
        <h1 id="info" style="color: #93a1a1">--------------</h1>
    </li>
    {%- for post in site.posts -%}
    {%- if post.categories[0] == "Hello" -%}
    <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <a class="post-link" href="{{ post.url | relative_url }}">
            <h4 class="post-title">{{ post.title | escape }}</h4>
        </a>
        <div class="post-meta">
            <ul class="post-categories">
                {%- for tag in post.categories -%}
                <li>{{ tag }}</li>
                {%- endfor -%}
            </ul>
            <div class="post-date"><i class="icon-calendar"></i>{{ post.date | date: date_format }}</div>
        </div>
        <div class="post">
            {%- if site.show_excerpts -%}
            <br/>
            {{ post.excerpt }}
            {%- endif -%}
        </div>
    </li>
    {%- endif -%}
    {%- endfor -%}

    <br/><br/>

    <li>
        <h1 id="Java Base" style="color: #93a1a1">--------------Java基础学习笔记</h1>
    </li>
    {%- for post in site.posts -%}
    {%- if post.categories[0] == "Java基础" -%}
    <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <a class="post-link" href="{{ post.url | relative_url }}">
            <h4 class="post-title">{{ post.title | escape }}</h4>
        </a>
        <div class="post-meta">
            <ul class="post-categories">
                {%- for tag in post.categories -%}
                <li>{{ tag }}</li>
                {%- endfor -%}
            </ul>
            <div class="post-date"><i class="icon-calendar"></i>{{ post.date | date: date_format }}</div>
        </div>
        <div class="post">
            {%- if site.show_excerpts -%}
            <br/>
            {{ post.excerpt }}
            {%- endif -%}
        </div>
    </li>
    {%- endif -%}
    {%- endfor -%}

    <br/><br/>

    <li>
        <h1 id="MultiThread" style="color: #93a1a1">--------------J.U.C学习笔记</h1>
    </li>
    {%- for post in site.posts -%}
    {%- if post.categories[0] == "JUC" -%}
    <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <a class="post-link" href="{{ post.url | relative_url }}">
            <h2 class="post-title">{{ post.title | escape }}</h2>
        </a>
        <div class="post-meta">
            <ul class="post-categories">
                {%- for tag in post.categories -%}
                <li>{{ tag }}</li>
                {%- endfor -%}
            </ul>
            <div class="post-date"><i class="icon-calendar"></i>{{ post.date | date: date_format }}</div>
        </div>
        <div class="post">
            {%- if site.show_excerpts -%}
            {{ post.excerpt }}
            {%- endif -%}
        </div>
    </li>
    {%- endif -%}
    {%- endfor -%}

    <br/><br/>

    <li>
        <h1 id="frame" style="color: #93a1a1">--------------Java框架中间件学习笔记</h1>
    </li>
    {%- for post in site.posts -%}
    {%- if post.categories[0] == "FRAME" -%}
    <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <a class="post-link" href="{{ post.url | relative_url }}">
            <h2 class="post-title">{{ post.title | escape }}</h2>
        </a>
        <div class="post-meta">
            <ul class="post-categories">
                {%- for tag in post.categories -%}
                <li>{{ tag }}</li>
                {%- endfor -%}
            </ul>
            <div class="post-date"><i class="icon-calendar"></i>{{ post.date | date: date_format }}</div>
        </div>
        <div class="post">
            {%- if site.show_excerpts -%}
            {{ post.excerpt }}
            {%- endif -%}
        </div>
    </li>
    {%- endif -%}
    {%- endfor -%}

    <br/><br/>

    <li>
        <h1 id="tools" style="color: #93a1a1">--------------Java工具学习笔记</h1>
    </li>
    {%- for post in site.posts -%}
    {%- if post.categories[0] == "TOOLS" -%}
    <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <a class="post-link" href="{{ post.url | relative_url }}">
            <h2 class="post-title">{{ post.title | escape }}</h2>
        </a>
        <div class="post-meta">
            <ul class="post-categories">
                {%- for tag in post.categories -%}
                <li>{{ tag }}</li>
                {%- endfor -%}
            </ul>
            <div class="post-date"><i class="icon-calendar"></i>{{ post.date | date: date_format }}</div>
        </div>
        <div class="post">
            {%- if site.show_excerpts -%}
            {{ post.excerpt }}
            {%- endif -%}
        </div>
    </li>
    {%- endif -%}
    {%- endfor -%}
</ul>

<!-- <p class="feed-subscribe"><svg class="svg-icon orange">
       <use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
   </svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p> -->
{%- endif -%}

